<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hexl.dao.CityDao" >
  <resultMap id="BaseResultMap" type="com.hexl.pojo.City" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cityID" property="cityid" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="father" property="father" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cityID, city, father
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tcity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tcity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hexl.pojo.City" >
    insert into tcity (id, cityID, city, 
      father)
    values (#{id,jdbcType=INTEGER}, #{cityid,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{father,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hexl.pojo.City" >
    insert into tcity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cityid != null" >
        cityID,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="father != null" >
        father,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cityid != null" >
        #{cityid,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="father != null" >
        #{father,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hexl.pojo.City" >
    update tcity
    <set >
      <if test="cityid != null" >
        cityID = #{cityid,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="father != null" >
        father = #{father,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hexl.pojo.City" >
    update tcity
    set cityID = #{cityid,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      father = #{father,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>